//// @access public
//// @author @Rueskas

///Color de la fuente
/// @group Colores
$font-principal: #fff;

///Color de fondo de la web
/// @group Colores
$background-color-principal: #eee;

//Color por defecto de los botones
/// @group Colores
$btn-background-default: #00aa00;

///Radio de los botones
/// @group Dimensiones
$btn-radius-style: 5px;
